<div class="container">
  <li><a {{action 'showSubcommittees' committee}}><h3>{{committee.name}}</h3></a></li>
  {{#if showSub}}
    {{#each subcommittees as |subcommittee|}}
      <h4>{{subcommittee.name}}</h4>
    {{/each}}
  {{/if}}
</div>
