{{lookup-form zipLookup="zipLookup"}}
<button class="btn ">{{#link-to 'committees-tile'}}Committees lookup{{/link-to}}</button>
{{#link-to 'bills-tile'}}<button class="btn">See Bills</button>{{/link-to}}
